<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>Game Schedule</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <div id="main">

        <!--
       <h1>{{ message }}</h1> 
    <ul>
        <li v-for="test in gameData">{{ test }}</li>
        <li v-for="greet in array">{{ greet }}</li>
    </ul>
-->
        <div class="container">
            <header>
                <h2 id="title">Game Schedule</h2>
                <a id="iconchat" href="#chat"></a>
            </header>

            <div class="banner">
                <h1>Northside youth</h1>
                <h3>soccer league</h3>
                <img id="soccerkids" src="https://s3.amazonaws.com/gbstool/emails/2028/design1_image1.jpg?AWSAccessKeyId=AKIAJBIZLMJQ2O6DKIAA&Expires=1559034000&Signature=luYFslBQUkJMDfk1SQquJ3kLjwk%3D">
            </div>

            <div class="filterbar">
                <div class="dropdown">
                    <select id='team-selector' v-on:change="filterGames" v-model="teamSelected">
                        <option value="all">Select Team</option>
                        <option v-for="option in teamList" v-bind:value="option">
                            {{ option }}
                        </option>
                    </select>
                </div>
                <!--                <img id="icondown">-->
            </div>

            <div class="date">
                <div class="card" v-for="(card, index) in filtered" v-bind:key="index">
                    <div class="saturday" v-if="index % 2 == 0">{{card.day}}</div>
                    <div class="button">
                        <div class="topbutton">
                            <h4 class="teams">{{card.teamA}} vs. {{card.teamB}}</h4>
                            <p class="time">{{card.time}}</p>
                        </div>
                        <p class="location">{{card.elementary_short}}</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--    <script src="https://cdn.jsdelivr.net/npm/vue"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>
</body></html>
